p{
    background-color: blue;
    color: brown;
    text-align: center;

}

.container .bite{
    background-color: black;
    color: lightgreen;
}

#text{
    color: red;
}
#title{
    background-color: red;
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}

